<section id="FOOTER">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <p><a href="#">Quem Somos</a></p>
        <p><a href="#">Como Funciona</a></p>
        <p><a href="#">FAQ's</a></p>
        <p><a href="#">Contato</a></p>
      </div>
      <div class="col-md-3">
        <p><a [routerLink]="['/login']">Login</a></p>
        <p><a [routerLink]="['/cadastro']">Cadastro</a></p>
        <p><a href="#">Termos de uso</a></p>
        <p><a href="#">Privacidade</a></p>
      </div>
    </div>
  </div>
</section>