<section id="HEADPLAN">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-5 text-center">
        <img src="https://github.com/oliveiracom/angular-fronttest/blob/master/img/front-test.png?raw=true" class="space">
        <p class="space">Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
        <p><a class="mussum">Saiba mais</a></p>
      </div>
    </div>
  </div>
</section>
<section id="CARDS">
  <div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 order-md-2">
        <div class="oncard chosen">
          <h2 class="space">Mussum Ipsum cacilds</h2>
          <img src="https://github.com/oliveiracom/angular-fronttest/blob/master/img/on-finger.jpg?raw=true" class="space">
          <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
          <p><a>Saiba mais</a></p>
        </div>        
      </div>
      <div class="col-md-4 order-md-1">
        <div class="oncard left">
          <h2 class="space">Mussum Ipsum cacilds</h2>
          <img src="https://github.com/oliveiracom/angular-fronttest/blob/master/img/on-finger.jpg?raw=true" class="space">
          <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
          <p><a href="">Saiba mais</a></p>
        </div>        
      </div>
      <div class="col-md-4 order-md-2">
        <div class="oncard right">
          <h2 class="space">Mussum Ipsum cacilds</h2>
          <img src="https://github.com/oliveiracom/angular-fronttest/blob/master/img/on-finger.jpg?raw=true" class="space">
          <p>Mussum Ipsum, cacilds vidis litro abertis. Casamentiss faiz malandris se pirulitá.</p>
          <p><a href="">Saiba mais</a></p>
        </div>        
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>